## Created by .ignore support plugin (hsz.mobi)
#### WordPress template
#*.log

#wp-content/advanced-cache.php
#wp-content/backup-db/
#wp-content/backups/
#wp-content/blogs.dir/
#wp-content/cache/
#wp-content/upgrade/
#wp-content/uploads/
#wp-content/wp-cache-config.php
#wp-content/plugins/hello.php
#
#/.htaccess
#/license.txt
#/readme.html
#/sitemap.xml
#/sitemap.xml.gz
#
#
.htaccess
.idea/copyright/
.idea/modules.xml
.idea/wahad-humus.iml
.idea/workspace.xml
#wp-config.php
wp-content/plugins/contact-form-7/
wp-content/plugins/essential-grid/
wp-content/plugins/hgr_essentials/
wp-content/plugins/hgr_vc_extender/
wp-content/plugins/js_composer/
wp-content/plugins/revslider/
wp-content/plugins/woocommerce/
wp-content/themes/sage/layouts/shop/
wp-content/upgrade/
wp-content/uploads/
